body {
    background-color: white;
    font: normal 1.2em Arial;
}

header {
    color: white;
    text-align: center;
    font-size: 1.5;
}

section {
    background-color: white;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

div {
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
}

footer {
    color: white;
    text-align: center;
}